name: release-please

on:
  push:
    branches:
      - master

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release_please.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release_please
        with:
          release-type: terraform-module
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/.release-please-config.json 